<!DOCTYPE html>
<html>
  <meta charset="UTF-8" />
  <head>
    <title>Choco - Sign Up</title>
    <base href="/Dating-Website/frontend/" />
    <link rel="stylesheet" href="assets/css/register.css" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css"
    />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  </head>
  <body>
    <header class="header-home">
      <div class="logo">
        <a href="views/home.html" style="color: inherit; text-decoration: none"
          >Choco</a
        >
      </div>
      <div class="center">
        <nav class="navmenu">
          <a href="#">Premium</a>
          <a href="#">About</a>
          <a href="#">Support</a>
          <div class="dropdown">
            <span class="language">Language <span class="arrow">▼</span></span>
            <div class="down-item">
              <a href="#" class="drop_down_item">English</a>
              <a href="#" class="drop_down_item">Tiếng Việt</a>
            </div>
          </div>
        </nav>
      </div>
    </header>
    <hr />
    <main class="main-signup">
      <div class="box">
        <div class="box-logo">Choco</div>
        <p class="slogan">Happiness you can taste!</p>
        <form id="register-form">
          <section class="inputname input-icon">
            <i class="fa fa-user"></i>
            <input
              type="text"
              placeholder="Email"
              id="register-email"
              required
            />
          </section>
          <section class="inputpass input-icon">
            <i class="fa fa-lock"></i>
            <input
              type="password"
              placeholder="Password"
              id="register-pass"
              required
            />
          </section>
          <section class="inputrepass input-icon">
            <i class="fa fa-lock"></i>
            <input
              type="password"
              placeholder="Confirm Password"
              id="confirm-password"
              required
            />
          </section>
          <section class="signup-btn">
            <button type="submit">Sign up</button>
          </section>
        </form>
      </div>
    </main>
    <script type="module" src="viewmodels/registerViewModel.js"></script>
  </body>
</html>
