<!DOCTYPE html>
<html>
  <meta charset="UTF-8" />
  <head>
    <title>Choco-Sign In</title>
    <base href="/Dating-Website/" />
    <link rel="stylesheet" href="frontend/assets/css/login.css" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css"
    />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Poltawski+Nowy:wght@400;500;600;700&display=swap"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Poppins&display=swap"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Stick+No+Bills:wght@200;400;700&display=swap"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Orbitron:wght@700&display=swap"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Poetsen+One&display=swap"
      rel="stylesheet"
    />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  </head>
  <body>
    <header class="header-home">
      <div class="logo">
        <a
          href="frontend/views/home.html"
          style="color: inherit; text-decoration: none"
          >Choco</a
        >
      </div>
      <div class="center">
        <nav class="navmenu">
          <a href="index.php?page=premium">Premium</a>
          <a href="index.php?page=about">About</a>
          <a href="index.php?page=support">Support</a>
          <div class="dropdown">
            <span class="language">Language <span class="arrow">▼</span></span>
            <div class="down-item">
              <a href="#" class="drop_down_item">English</a>
              <a href="#" class="drop_down_item">Tiếng Việt</a>
            </div>
          </div>
        </nav>
      </div>
    </header>
    <hr />
    <!-- Phần đăng nhập chính -->
    <main class="main-signin">
      <div class="box">
        <div class="box-logo">Choco</div>
        <p class="slogan">Happiness You Can Taste!</p>
        <form id="login-form">
          <section class="inputname input-icon">
            <i class="fa fa-user"></i>
            <input type="text" placeholder="Email" id="login-email" />
          </section>
          <section class="inputpass input-icon">
            <i class="fa fa-lock"></i>
            <input type="password" placeholder="Password" id="login-pass" />
          </section>
          <!-- Note -->
          <a href="#">Forget password</a>
          <section class="signin-btn">
            <button type="submit">Sign in</button>
          </section>
        </form>
        <!-- Link Sign up now -->
        <p class="signup-text">
          Don't have an account?
          <a href="index.php?page=register">Sign up now</a>
        </p>
        <div class="or-divider"><span>Or</span></div>
        <section class="logofb">
          <button><i class="fab fa-facebook-f"></i> Login With Facebook</button>
        </section>
        <section class="logogg">
          <button id="google-login-btn">
            <i class="fab fa-google"></i> Login With Google
          </button>
        </section>
      </div>
    </main>
    <!-- Phần thông báo sau khi đăng nhập -->

    <!-- Phần JS -->
    <script type="module" src="frontend/viewmodels/loginViewModel.js"></script>
  </body>
</html>
